@model TrabPWEB.DAL.TimeAtribuition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeAtribuition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StationPost.StationPostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationPost.StationPostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeData.TimeDataId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeData.TimeDataId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
