@model TrabPWEB.DAL.Station

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Station</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Local.LocalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.LocalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finnish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finnish)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
