@model TrabPWEB.ViewModels.StationsIndexViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Estações";
}

<h2>Estações</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Owner"))
    {
        <p>
            @Html.ActionLink("Nova Estação", "Create")
        </p>
    }
}
<table class="table table-hover table-striped w-auto text-center">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Stations.First().StationName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Stations.First().Local.LocalName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Stations.First().Start)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Stations.First().Finnish)
        </th>
        <th class="text-center">
            <b>Postos de Carregamento</b>
        </th>
        <th></th>
    </tr>

    @foreach (TrabPWEB.DAL.Station item in Model.Stations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.LocalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finnish)
            </td>
            <td class="dropdown">
                <p class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:blue">Postos &#9660;</p>
                <div class="dropdown-menu table-responsive" style="max-height:300px">
                    <table class="dropdown-item table table-hover table-striped w-auto text-center">
                        <tr class="dropdown-item">
                            <th class="text-center">
                                <b> Posto </b>
                            </th>
                            <th class="text-center">
                                <b> Tipo de Carregamento </b>
                            </th>
                            <th class="text-center">
                                <b> Preço/Hora </b>
                            </th>
                            <th></th>
                        </tr>
                        @foreach (TrabPWEB.DAL.StationPost itemPosto in ((TrabPWEB.Controllers.StationsController)this.ViewContext.Controller).getPostos(item.StationId))
                        {
                            <tr class="dropdown-item">
                                <td>
                                    @Html.DisplayFor(modelItemPost => itemPosto.StationPostName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItemPost => itemPosto.RechargeType.RechargeTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItemPost => itemPosto.Price, "{0:#######.##}")€
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td class="text-nowrap">
                @Html.ActionLink("Adicionar Novo Posto", "AddPost", new { id = item.StationId }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.StationId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.StationId }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.StationId })
            </td>
        </tr>
    }

</table>

<div>
    Página @(Model.Stations.PageCount < Model.Stations.PageNumber ? 0 : Model.Stations.PageNumber) de @Model.Stations.PageCount
    @Html.PagedListPager(Model.Stations, pagina => Url.Action("Estações", new { local = @Model.Local, procura = @Model.Procura, pagina }))
</div>