@model TrabPWEB.DAL.RechargeMod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RechargeMod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RechargeModName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechargeModName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RechargeModDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechargeModDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RechargeModId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
