@model TrabPWEB.DAL.RechargeMod

@{
    ViewBag.Title = "Detalhes";
}

    <h2>Detalhes</h2>

<div>
    <h4>Tipos de carregamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RechargeModName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechargeModName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RechargeModDescription)
        </dt>

        <dd style="text-align:justify">
            @Html.DisplayFor(model => model.RechargeModDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RechargeModId }) |
    @Html.ActionLink("Voltar atrás", "Index")
</p>
