@model IEnumerable<TrabPWEB.DAL.RechargeMod>

@{
    ViewBag.Title = "Tipos de carregamento";
}

<h2>Tipos de Carregamento</h2>

<p>
    @Html.ActionLink("Novo Tipo de Carregamento", "Create")
</p>
<table class="table table-hover table-striped w-auto text-center">
    <tr>
        <th class="text-center" style="min-width:200px">
            @Html.DisplayNameFor(model => model.RechargeModName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.RechargeModDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RechargeModName)
        </td>
        <td style="text-align:justify">
            @Html.DisplayFor(modelItem => item.RechargeModDescription)
        </td>
        <td class="text-nowrap" style="min-width:100px">
            @Html.ActionLink("Editar", "Edit", new { id=item.RechargeModId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.RechargeModId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.RechargeModId })
        </td>
    </tr>
}

</table>
