@model IEnumerable<TrabPWEB.DAL.TimeData>

@{
    ViewBag.Title = "Horários";
}

<h2>Horários</h2>

<p>
    @Html.ActionLink("Novo Horário", "Create")
</p>
<table class="table table-hover table-striped w-auto text-center">
    <tr>
        <th class="text-center text-nowrap">
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th class="text-center text-nowrap">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TimeDataId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TimeDataId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.TimeDataId })
        </td>
    </tr>
}

</table>
