@model IEnumerable<TrabPWEB.DAL.TimeHour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @if (item.Status)
            {
                <p>Disponível</p>
            }
            else
            {
                <p>Indisponível</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeHourId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeHourId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeHourId })
        </td>
    </tr>
}

</table>
