@model TrabPWEB.DAL.StationPost

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que quer apagar este posto?</h3>
<div>
    <h4>Posto de Carregamento</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StationPostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationPostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RechargeType.RechargeTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechargeType.RechargeTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price, "{0:#######.##}") €
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start, "{0:HH:mm}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finnish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finnish, "{0:HH:mm}")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar atrás", "Index")
        </div>
    }
</div>
