@model TrabPWEB.DAL.StationPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StationPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeHour.TimeHourId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeHour.TimeHourId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationPostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationPostName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StationPostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
