@model TrabPWEB.DAL.StationPost

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Postos de Carregamento</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StationPostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationPostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RechargeType.RechargeTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechargeType.RechargeTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price, "{0:#######.##}") €
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start, "{0:HH:mm}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finnish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finnish, "{0:HH:mm}")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.StationPostId }) |
    @Html.ActionLink("Voltar atrás", "Index")
</p>
