@model IEnumerable<TrabPWEB.DAL.StationPost>

@{
    ViewBag.Title = "Postos de Carregamento";
}

<h2>Postos de Carregamento</h2>

<p>
    @Html.ActionLink("Novo Posto", "Create")
</p>
<table class="table table-hover table-striped w-auto text-center">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.StationPostName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.RechargeType.RechargeTypeName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Finnish)
        </th>
        <th class="text-center">
            <b>Horários</b>
        </th>
        <th></th>
        <th></th>
    </tr> 
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StationPostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RechargeType.RechargeTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price, "{0:#######.##}")€
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start, "{0:HH:mm}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finnish, "{0:HH:mm}")
        </td>
        <td class="dropdown">
            <p class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:blue">Horas &#9660;</p>
            <div class="dropdown-menu table-responsive" style="max-height:300px">
                <table class="table table-hover table-striped w-auto text-center">
                    <tr class="dropdown-item">
                        <th class="text-center">
                            <b>Horas</b>
                        </th>
                        <th class="text-center">
                            <b>Disponibilidade</b>
                        </th>
                    </tr>
                    @foreach (TrabPWEB.DAL.TimeData itemTime in ((TrabPWEB.Controllers.StationPostsController)this.ViewContext.Controller).getStationTimes(item.StationPostId))
                    {
                        <tr class="dropdown-item">
                            <td>
                                @Html.DisplayFor(modelItemTime => itemTime.Time, "{0:HH:mm}")
                            </td>
                            <td>
                                @if (itemTime.Status)
                                {
                                    <p>Disponível</p>
                                }
                                else
                                {
                                    <p>Indisponível</p>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.StationPostId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.StationPostId }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.StationPostId })
        </td>
    </tr>
}

</table>
