@model IEnumerable<TrabPWEB.DAL.Local>

@{
    ViewBag.Title = "Locais";
}

<h2>Locais</h2>

<p>
    @Html.ActionLink("Novo Local", "Create")
</p>
<table class="table table-hover table-striped w-auto text-center">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.LocalName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.RegionName)
        </td>
        <td class="text-nowrap">
            @Html.ActionLink("Editar", "Edit", new { id=item.LocalId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.LocalId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.LocalId })
        </td>
    </tr>
}

</table>
