@model TrabPWEB.DAL.RechargeType

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que quer apagar este tipo de carregador?</h3>
<div>
    <h4>Tipo de Carregador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RechargeTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechargeTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RechargeTypeDescription)
        </dt>

        <dd style="text-align:justify">
            @Html.DisplayFor(model => model.RechargeTypeDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar atrás", "Index")
        </div>
    }
</div>
