@model TrabPWEB.DAL.RechargeType

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Tipo de Carregador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RechargeTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechargeTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RechargeTypeDescription)
        </dt>

        <dd style="text-align:justify">
            @Html.DisplayFor(model => model.RechargeTypeDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RechargeTypeId }) |
    @Html.ActionLink("Voltar atrás", "Index")
</p>
