@model IEnumerable<TrabPWEB.DAL.RechargeType>

@{
    ViewBag.Title = "Tipo de Carregador";
}

<h2>Tipo de Carregador</h2>

<p>
    @Html.ActionLink("Novo Carregador", "Create")
</p>
<table class="table table-striped w-auto">
    <tr>
        <th style="min-width:200px">
            @Html.DisplayNameFor(model => model.RechargeTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RechargeTypeDescription)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RechargeTypeName)
        </td>
        <td style="text-align:justify">
            @Html.DisplayFor(modelItem => item.RechargeTypeDescription)
        </td>
        <td class="text-nowrap" style="min-width:150px">
            @Html.ActionLink("Editar", "Edit", new { id = item.RechargeTypeId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.RechargeTypeId }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.RechargeTypeId })
        </td>
    </tr>
}

</table>
