@model TrabPWEB.DAL.Reserve

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que quer cancelar esta reserva?</h3>
<div>
    <h4>
        <b>Noma do Posto de Carregamento: </b>
        @Html.DisplayFor(model => model.StationPost.StationPostName)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RechargeMod.RechargeModName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RechargeMod.RechargeModName)
        </dd>

        <dt>
            <b>Nome de User</b>
        </dt>

        <dd>
            <p>
                @(((TrabPWEB.Controllers.ReservesController)this.ViewContext.Controller).getUserName(Model.UserId))
            </p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) €
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @if (Model.Completed == 1)
            {
                <p>Em reserva</p>
            }
            else if (Model.Completed == 2)
            {
                <p>Completa</p>
            }
            else if (Model.Completed == 0)
            {
                <p>Cancelada</p>
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancelar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para a lista de Reservas", "Index")
        </div>
    }
</div>
