@model IEnumerable<TrabPWEB.DAL.Reserve>

@{
    ViewBag.Title = "Reserva";
}

<h2>Reserva</h2>

<table class="table table-hover table-striped w-auto text-center">
    <tr>
        <th class="text-center text-nowrap">
            @Html.DisplayNameFor(model => model.StationPost.StationPostName)
        </th>
        <th class="text-center text-nowrap">
            @Html.DisplayNameFor(model => model.RechargeMod.RechargeModName)
        </th>
        <th class="text-center text-nowrap">
            <b>Nome de User</b>
        </th>
        <th class="text-center text-nowrap">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th class="text-center text-nowrap">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="text-center text-nowrap">
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th class="text-center text-nowrap"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StationPost.StationPostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RechargeMod.RechargeModName)
        </td>
        <td>
            <p>
                @(((TrabPWEB.Controllers.ReservesController)this.ViewContext.Controller).getUserName(item.UserId))
            </p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) €
        </td>
        <td>
            @if (item.Completed == 1)
            {
                <p>Em reserva</p>
            }
            else if (item.Completed == 2)
            {
                <p>Completa</p>
            }
            else if (item.Completed == 0)
            {
                <p>Cancelada</p>
            }
        </td>
        @if (item.Completed == 1)
        {
            <td class="text-nowrap">
                @Html.ActionLink("Editar", "Edit", new { id = item.ReserveId }) |
                @Html.ActionLink("Detalhes de Reserva", "Details", new { id = item.ReserveId }) |
                @Html.ActionLink("Cancelar", "Delete", new { id = item.ReserveId })
            </td>
        }
        else
        {
            <td class="text-nowrap">
                @Html.ActionLink("Detalhes de Reserva", "Details", new { id = item.ReserveId })
            </td>
        }
    </tr>
}

</table>
